<!-- Navigation -->
<nav>
    <div class="menu">
        <img src="PARABOOK-Logo.svg" alt="Logo">
        <ul class="menu-links">
            <li><img src="icons/add_task.svg" alt=""><a routerLink="">Projekte</a></li>
            <li><img src="icons/board.svg" alt=""><a routerLink="">Arbeitsbereiche</a></li>
            <li><img src="icons/contacts.svg" alt=""><a routerLink="">Ressourcen</a></li>
            <li><img src="icons/summary.svg" alt=""><a routerLink="">Archiv</a></li>
        </ul>
    </div>
    <div class="footerlinks">
        <ul>
            <li><a routerLink="">Impressum</a></li>
            <li><a routerLink="">Datenschutz</a></li>
        </ul>
    </div>
</nav>