:host {
    width: 20%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;

    height: 100%;
    padding: 10% 40px;
    background-color: #0F1628;

    .menu {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    img {
        min-width: 40px;
        width: 10%;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}


@media (max-width: 768px) {
    :host {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        /* Prevent shrinking */
    }

    nav {
        flex-direction: row;
        justify-content: center;
        padding: 16px 24px;
        align-items: center;

        .menu {
            width: 100%;
            gap: 0;

            &>img {
                /* Logo inside menu */
                display: none;
            }

            .menu-links {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                gap: 0;

                li {
                    flex-direction: column;
                    gap: 4px;

                    a {
                        font-size: 10px;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .footerlinks {
            display: none;
        }

        &>img {
            /* If logo is direct child of nav */
            display: none;
        }
    }
}