.archive-page {
    display: flex;
    height: 100vh;
    background-color: var(--bg-primary);
    overflow: hidden;

    app-shared-project-list {
        width: 350px;
        flex-shrink: 0;
        border-right: 1px solid var(--border-color);
    }

    app-shared-project-details {
        flex: 1;
    }
}