<!-- Header -->
<header>

    <img class="header-logo" src="parabook-logo.png" alt="ParaBook Logo">

    <div class="header-actions">
        <!-- <button class="icon-btn" aria-label="Language toggle">
            <span class="flag">🇩🇪</span>
        </button> -->

        <button class="icon-btn" aria-label="Hilfe">
            <img src="icons/help.svg" alt="Hilfe">
        </button>

        <app-theme-toggle></app-theme-toggle>

        <div class="user-profile">
            <div class="avatar">
                <img src="profile-icon.png" alt="Avatar">
            </div>
            <div class="user-info">
                <span class="user-name">Paul</span>
                <span class="user-role">Personal</span>
            </div>
        </div>
    </div>
</header>